{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau post</h1>
    <form method="post">
        <textarea name="content" required></textarea>
        <button type="submit">Créer</button>
    </form>
{% endblock %}
